body {
  font-family: sans-serif;
  text-align: center;
}

form.z {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 400px;
  height: 2.5em;
  line-height: 2.5em;
  margin-bottom: 1em;
}
form.sports {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

ul.record-list {
  list-style-type: none;
}
ul.record-list > li {
  width: 100%;
}
ul.record-list > li > img {
  float: left;
}
ul.record-list > li > h3 {
  float: left;
}
ul.record-list > li > div {
  display: block;
  width: 100%;
  float: left;
}
ul.record-list:after {
  content: "";
  clear: both;
  display: table;
}

form.zr {
  display: none;
}
